<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles.css') }}" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='source/favicon.ico') }}">
    <title>Race Results</title>
    <style>
        #resultsTable,
        #driverTable {
            display: none;
        }

        .year-buttons,
        .driver-buttons {
            display: none;
        }

        #insert-user {
            display: none;
        }

        #insert-driver {
            display: none;
        }

        #insert-result {
            display: none;
        }

    </style>
    <script>
        function showYearButtons() {
            document.querySelector('.year-buttons').style.display = 'block';
            document.querySelector('.driver-buttons').style.display = 'none';
            document.getElementById('resultsTable').style.display = 'table';
            document.getElementById('driverTable').style.display = 'none';
            document.getElementById('insert-user').style.display = 'none';
            document.getElementById('insert-driver').style.display = 'none';
            document.getElementById('insert-result').style.display = 'none';

            const yearOptions = document.getElementById('yearOptions');
            const driverOptions = document.getElementById('driverOptions');
            yearOptions.style.display = 'block';
            driverOptions.style.display = 'none';
            filterResults();
        }

        function showResults(year) {
            fetch(`/race/${year}`)
                .then(response => response.json())
                .then(data => {
                    const table = document.getElementById('resultsTable');
                    const tbody = table.querySelector('tbody');
                    tbody.innerHTML = ''; // Clear previous results

                    data.forEach(result => {
                        const row = document.createElement('tr');
                        row.innerHTML = `
                            <td>${result.race_id}</td>
                            <td>${result.circuit_name}</td>
                            <td><a href="${result.wiki_url}" target="_blank">url</a></td>
                        `;
                        tbody.appendChild(row);
                    });

                    table.style.display = 'table';

                    const buttons = document.querySelectorAll('.year-buttons button');
                    buttons.forEach(button => button.classList.remove('active'));
                    document.getElementById(year).classList.add('active');
                    filterResults();
                });
        }

        function showDriverButtons() {
            document.querySelector('.year-buttons').style.display = 'none';
            document.querySelector('.driver-buttons').style.display = 'block';
            document.getElementById('resultsTable').style.display = 'none';
            document.getElementById('driverTable').style.display = 'table';
            document.getElementById('insert-user').style.display = 'none';
            document.getElementById('insert-driver').style.display = 'none';
            document.getElementById('insert-result').style.display = 'none';

            const yearOptions = document.getElementById('yearOptions');
            const driverOptions = document.getElementById('driverOptions');
            yearOptions.style.display = 'none';
            driverOptions.style.display = 'block';
            filterResults();
        }

        function showDriver(constructor_id) {
            fetch(`/driver/${constructor_id}`)
                .then(response => response.json())
                .then(data => {
                    const table = document.getElementById('driverTable');
                    const tbody = table.querySelector('tbody');
                    tbody.innerHTML = ''; // Clear previous results

                    data.forEach(driver => {
                        const row = document.createElement('tr');
                        row.innerHTML = `
                            <td>${driver.driver_id}</td>
                            <td>${driver.f_name}</td>
                            <td>${driver.l_name}</td>
                            <td>${driver.date_of_birth}</td>
                            <td>${driver.nationality}</td>
                            <td><a href="${driver.wiki_url}" target="_blank">url</a></td>
                        `;
                        tbody.appendChild(row);
                    });

                    table.style.display = 'table';
                    filterResults();
                });
        }

        function showInsertUser() {
            document.getElementById('insert-user').style.display = 'block';
            document.getElementById('insert-driver').style.display = 'none';
            document.getElementById('insert-result').style.display = 'none';
            document.getElementById('resultsTable').style.display = 'none';
            document.getElementById('driverTable').style.display = 'none';
            document.querySelector('.year-buttons').style.display = 'none';
            document.querySelector('.driver-buttons').style.display = 'none';

            const yearOptions = document.getElementById('yearOptions');
            const driverOptions = document.getElementById('driverOptions');
            yearOptions.style.display = 'none';
            driverOptions.style.display = 'none';
            filterResults();
        }

        function showInsertDriver() {
            document.getElementById('insert-user').style.display = 'none';
            document.getElementById('insert-driver').style.display = 'block';
            document.getElementById('insert-result').style.display = 'none';
            document.getElementById('resultsTable').style.display = 'none';
            document.getElementById('driverTable').style.display = 'none';
            document.querySelector('.year-buttons').style.display = 'none';
            document.querySelector('.driver-buttons').style.display = 'none';

            const yearOptions = document.getElementById('yearOptions');
            const driverOptions = document.getElementById('driverOptions');
            yearOptions.style.display = 'none';
            driverOptions.style.display = 'none';
            filterResults();
        }

        function showInsertResult() {
            document.getElementById('insert-user').style.display = 'none';
            document.getElementById('insert-driver').style.display = 'none';
            document.getElementById('insert-result').style.display = 'block';
            document.getElementById('resultsTable').style.display = 'none';
            document.getElementById('driverTable').style.display = 'none';
            document.querySelector('.year-buttons').style.display = 'none';
            document.querySelector('.driver-buttons').style.display = 'none';

            const yearOptions = document.getElementById('yearOptions');
            const driverOptions = document.getElementById('driverOptions');
            yearOptions.style.display = 'none';
            driverOptions.style.display = 'none';
            filterResults();
        }

        document.addEventListener('DOMContentLoaded', function () {
            setTimeout(function () {
                const flashes = document.querySelectorAll('.flashes li');
                flashes.forEach(flash => {
                    flash.style.display = 'none';
                });
            }, 3000); // 3 seconds
        });

        function closelist(){   
            document.querySelector('.year-buttons').style.display = 'none';
            document.querySelector('.driver-buttons').style.display = 'none';
            document.getElementById('resultsTable').style.display = 'none';
            document.getElementById('driverTable').style.display = 'none';
            document.getElementById('insert-user').style.display = 'none';
            document.getElementById('insert-driver').style.display = 'none';
            document.getElementById('insert-result').style.display = 'none';

            const yearOptions = document.getElementById('yearOptions');
            const driverOptions = document.getElementById('driverOptions');
            yearOptions.style.display = 'none';
            driverOptions.style.display = 'none';
        }

        let currentbutton = 1;
        const buttonsPerPage = 6;
        const totalButtons = 212;

        function initializeButtons() {
            const buttonList = document.getElementById('driver-button-list');
            buttonList.innerHTML = '';

            for (let i = 1; i <= totalButtons; i++) {
                const li = document.createElement('li');
                const button = document.createElement('button');
                button.id = i;
                button.innerText = i;
                button.onclick = () => showDriver(i);
                li.appendChild(button);
                buttonList.appendChild(li);
            }

            showButton(currentbutton);
        }

        function showButton(page) {
            if (page < 1 || page > Math.ceil(totalButtons / buttonsPerPage)) {
                return;
            }

            console.log(page);
            currentbutton = page;

            const buttonList = document.getElementById('driver-button-list');
            const buttons = buttonList.getElementsByTagName('li');

            const startIndex = (currentbutton - 1) * buttonsPerPage;
            const endIndex = Math.min(startIndex + buttonsPerPage, totalButtons);

            for (let i = 0; i < buttons.length; i++) {
                buttons[i].style.display = 'none';
            }

            for (let i = startIndex; i < endIndex; i++) {
                buttons[i].style.display = 'inline-block';
            }

            document.getElementById('prev-btn').style.display = (currentbutton === 1) ? 'none' : 'inline-block';
            document.getElementById('next-btn').style.display = (currentbutton === Math.ceil(totalButtons / buttonsPerPage)) ? 'none' : 'inline-block';
        }

        document.addEventListener('DOMContentLoaded', initializeButtons);

        function filterResults() {
            const selectedYears = Array.from(document.querySelectorAll('.yearOption:checked')).map(checkbox => checkbox.value);
            const selectedDrivers = Array.from(document.querySelectorAll('.driverOption:checked')).map(checkbox => checkbox.value);

            // result table filter
            const raceTableRows = document.querySelectorAll('#resultsTable tbody tr');
            raceTableRows.forEach(row => {
                const match = row.querySelectorAll('td')[1].textContent.trim();

                if (selectedYears.length === 0 || selectedYears.includes(match)) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });

            // driver table filter
            const driverTableRows = document.querySelectorAll('#driverTable tbody tr');
            driverTableRows.forEach(row => {
                const driverId = row.querySelector('td').textContent.trim();
                if (selectedDrivers.length === 0 || selectedDrivers.includes(driverId)) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        }
    </script>
</head>

<body>
    <div class="content">
        <div class="header">
            <h1 class="website-title">
                <img src="{{ url_for('static', filename='source/f1icon.png') }}" alt="F1 Icon" class="title-icon">
                F1 Race
            </h1>
            <div class="auth-buttons">
                {% if 'user' in session %}
                <h2>Welcome! {{ session['user']['username'] }}</h2>
                <button id="logout" onclick="window.location.href='/logout'">登出</button>
                {% else %}
                <button id="login" onclick="window.location.href='/login'">登入</button>
                {% endif %}
            </div>
        </div>


        <button id="race" onclick="showYearButtons()">賽事</button>
        <button id="driver" onclick="showDriverButtons()">車手</button>
        <button id="insertUser" onclick="showInsertUser()">新增使用者</button>
        <button id="insertDriver" onclick="showInsertDriver()">新增賽車手</button>
        <button id="insertResult" onclick="showInsertResult()">新增賽事結果</button>
        <button class="close-btn" onclick="closelist()">x</button>
        <div class="content_container">
            <div class="year-buttons">
                <ul>
                    <li><button id="2024" onclick="showResults(2024)">2024</button></li>
                    <li><button id="2023" onclick="showResults(2023)">2023</button></li>
                    <li><button id="2022" onclick="showResults(2022)">2022</button></li>
                    <li><button id="2021" onclick="showResults(2021)">2021</button></li>
                    <li><button id="2020" onclick="showResults(2020)">2020</button></li>
                    <li><button id="2019" onclick="showResults(2019)">2019</button></li>
                    <li><button id="2018" onclick="showResults(2018)">2018</button></li>
                </ul>
            </div>

            <div class="driver-buttons">
                <button id="prev-btn" onclick="showButton(currentbutton - 1)">上一頁</button>
                <ul id="driver-button-list">
                </ul>
                <button id="next-btn" onclick="showButton(currentbutton + 1)">下一頁</button>
            </div>

            <table id="resultsTable" border="1">
                <thead>
                    <tr>
                        <th>race_id</th>
                        <th>circuit_name</th>
                        <th>link</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Results will be populated here -->
                </tbody>
            </table>

            <table id="driverTable" border="1">
                <thead>
                    <tr>
                        <th>driver_id</th>
                        <th>f_name</th>
                        <th>l_name</th>
                        <th>date_of_birth</th>
                        <th>nationality</th>
                        <th>link</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Driver results will be populated here -->
                </tbody>
            </table>

            <div class="insert-user" id="insert-user">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
                <form action="/insertUser" method="POST">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password">
                    <button type="submit">Add New User</button>
                </form>
            </div>

            <div class="insert-driver" id="insert-driver">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
                <form action="/insertDriver" method="POST">
                    <label for="f_name">First Name:</label>
                    <input type="text" id="f_name" name="f_name" required><br><br>
                    
                    <label for="l_name">Last Name:</label>
                    <input type="text" id="l_name" name="l_name" required><br><br>
                    
                    <label for="date_of_birth">Date of Birth:</label>
                    <input type="date" id="date_of_birth" name="date_of_birth" required><br><br>
                    
                    <label for="nationality">Nationality:</label>
                    <input type="text" id="nationality" name="nationality" required><br><br>
                    
                    <label for="wiki_url">Wikipedia URL:</label>
                    <input type="url" id="wiki_url" name="wiki_url" required><br><br>
                    
                    <button type="submit">Add Driver</button>
                </form>
            </div>
            
            <div class="insert-result" id="insert-result">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
                <form action="/insertResult" method="POST">
                    <label for="driver_id">Driver ID:</label>
                    <input type="number" id="driver_id" name="driver_id" required><br><br>
                    
                    <label for="constructor_id">Constructor ID:</label>
                    <input type="number" id="constructor_id" name="constructor_id" required><br><br>
                    
                    <label for="car_num">Car Number:</label>
                    <input type="number" id="car_num" name="car_num" required><br><br>
                    
                    <label for="position_grid">Position Grid:</label>
                    <input type="number" id="position_grid" name="position_grid" required><br><br>
                    
                    <label for="position">Position:</label>
                    <input type="number" id="position" name="position" required><br><br>
                    
                    <label for="position_text">Position Text:</label>
                    <input type="text" id="position_text" name="position_text" required><br><br>
                    
                    <label for="position_order">Position Order:</label>
                    <input type="number" id="position_order" name="position_order" required><br><br>
                    
                    <label for="points">Points:</label>
                    <input type="number" id="points" name="points" required><br><br>
                    
                    <label for="laps">Laps:</label>
                    <input type="number" id="laps" name="laps" required><br><br>
                    
                    <label for="time">Time:</label>
                    <input type="text" id="time" name="time" required><br><br>
                    
                    <label for="time_in_milliseconds">Time in Milliseconds:</label>
                    <input type="number" id="time_in_milliseconds" name="time_in_milliseconds" required><br><br>
                    
                    <label for="fastest_lap">Fastest Lap:</label>
                    <input type="number" id="fastest_lap" name="fastest_lap" required><br><br>
                    
                    <label for="rank_of_fastest_lap">Rank of Fastest Lap:</label>
                    <input type="number" id="rank_of_fastest_lap" name="rank_of_fastest_lap" required><br><br>
                    
                    <label for="fastest_lap_time">Fastest Lap Time:</label>
                    <input type="text" id="fastest_lap_time" name="fastest_lap_time" required><br><br>
                    
                    <label for="fastest_lap_speed">Fastest Lap Speed:</label>
                    <input type="number" id="fastest_lap_speed" name="fastest_lap_speed" required><br><br>
                    
                    <label for="status_id">Status ID:</label>
                    <input type="number" id="status_id" name="status_id" required><br><br>
                    
                    <button type="submit">Add Result</button>
                </form>
            </div>
        </div>

        <div class="side_container">
            <!-- selector -->
            <div class="filter-container">
                <h3>篩選條件</h3>
                <form id="filterForm">
                    <div class="filter-group">
                        <div id="yearOptions" style="display:none;">
                            <label>按賽事</label>
                            <label><input type="checkbox" class="yearOption" value="Bahrain Grand Prix" onclick="filterResults()">Bahrain Grand Prix</label>
                            <label><input type="checkbox" class="yearOption" value="Saudi Arabian Grand Prix" onclick="filterResults()">Saudi Arabian Grand Prix</label>
                            <label><input type="checkbox" class="yearOption" value="Australian Grand Prix" onclick="filterResults()">Australian Grand Prix</label>
                            <label><input type="checkbox" class="yearOption" value="Japanese Grand Prix" onclick="filterResults()">Japanese Grand Prix</label>
                            <label><input type="checkbox" class="yearOption" value="Chinese Grand Prix" onclick="filterResults()">Chinese Grand Prix</label>
                        </div>
                    </div>
            
                    <div class="filter-group">
                        <div id="driverOptions" style="display:none;">
                            <label>按賽車手篩選</label>
                            <label><input type="checkbox" class="driverOption" value="30" onclick="filterResults()">Michael Schumacher</label>
                            <label><input type="checkbox" class="driverOption" value="1" onclick="filterResults()">Lewis Hamilton</label>
                            <label><input type="checkbox" class="driverOption" value="20" onclick="filterResults()">Sebastian Vettel</label>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Ranking Table -->
            <div id="rankingTable">
                <h3>Current Ranking</h3>
                <table id="rankingTableContent">
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Driver</th>
                            <th>Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- show by JavaScript -->
                    </tbody>
                </table>
            </div>
            <!-- ranking end -->
        </div> 

        <div class="comment-section">
            <h3>留言區</h3>
            <form id="commentForm" method="POST" action="/add_comment">
                <textarea name="comment" id="commentText" placeholder="请输入您的留言..." required></textarea>
                <button type="submit">留言</button>
            </form>
        
            <h4>最新訊息：</h4>
            <ul id="commentList">
                {% for comment in comments %}
                    <li><strong>{{ comment.username }}:</strong> {{ comment.text }} &nbsp&nbsp&nbsp&nbsp&nbsp -- {{ comment.created_at }}</li>
                {% endfor %}
            </ul>
        </div>  

    </div>
    
</body>

</html>