<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 database</title>
    <link id="stylesheet" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='source/favicon.ico') }}">
</head>

<body>
    <div class="bg"></div>
    <div class="content">
        <h1>Welcome to F1 database website!</h1>

        <div class="user-info">
            <span id="username">Welcome, {{ username }}!</span>
            <div class="logout_container">
                <form action="/logout" method="get">
                    <button class="logout-btn" type="submit">Log Out</button>
                </form>
            </div>
        </div>

        <div class="button-container">
            <button onclick="showMenu(1)">賽事</button>
            <button onclick="showMenu(2)">車隊</button>
            <button onclick="showMenu(3)">排名</button>
            <button onclick="showMenu(4)">賽道</button>
        </div>

        <div id="menu1">
            <button class="close-btn" onclick="closeMenu()">x</button>
            <h2>賽事</h2>
            <table>
                <thead>
                    <tr>
                        <th>賽事名稱</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>a</td>
                    </tr>
                    <tr>
                        <td>b</td>
                    </tr>
                    <tr>
                        <td>c</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="menu2">
            <button class="close-btn" onclick="closeMenu()">x</button>
            <h2>車隊</h2>
            <table>
                <thead>
                    <tr>
                        <th>車隊名稱</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>a</td>
                    </tr>
                    <tr>
                        <td>b</td>
                    </tr>
                    <tr>
                        <td>c</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="menu3">
            <button class="close-btn" onclick="closeMenu()">x</button>
            <h2>排名</h2>
            <table>
                <thead>
                    <tr>
                        <th>車隊排名</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>a</td>
                    </tr>
                    <tr>
                        <td>b</td>
                    </tr>
                    <tr>
                        <td>c</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="menu4">
            <button class="close-btn" onclick="closeMenu()">x</button>
            <h2>Circuits</h2>
            <table class="table-container">
                <thead>
                    <tr>
                        {% for item in select_item %}

                        <th>{{ item }}</th>

                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in results %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <script>
            function showMenu(menuNumber) {
                document.getElementById("menu1").style.display = "none";
                document.getElementById("menu2").style.display = "none";
                document.getElementById("menu3").style.display = "none";
                document.getElementById("menu4").style.display = "none";

                if (menuNumber === 1) {
                    document.getElementById("menu1").style.display = "block";
                } else if (menuNumber === 2) {
                    document.getElementById("menu2").style.display = "block";
                } else if (menuNumber === 3) {
                    document.getElementById("menu3").style.display = "block";
                } else if (menuNumber === 4) {
                    document.getElementById("menu4").style.display = "block";
                }
            }

            function closeMenu() {
                document.getElementById("menu1").style.display = "none";
                document.getElementById("menu2").style.display = "none";
                document.getElementById("menu3").style.display = "none";
                document.getElementById("menu4").style.display = "none";
            }
        </script>
    </div>
</body>

</html>